/*Footer*/
.footer {
    padding: 5em 4em 1em 4em;
}

.footer h1 {
    letter-spacing: .01em;
    font-size: clamp(3em, 6vw, 6em);
    font-weight: 400;
    background: -webkit-linear-gradient(#2e1edd, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}  

.footer h3 {
    font-size: 1.7em;
    color: black;
    max-width: 350px;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 2.5em;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4em;
}

.formHeader {
    flex-basis: 60%;
    text-align: left;
}

.small {
    font-size: 1em;
}

.formHeader p {
    font-size: 1.4em;
    margin-bottom: 0.1em;
}

.footer {
    text-align: center;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.socialMedia p {
    margin: 2em auto 0 auto;
    font-size: 1.2em;
    line-height: 2em;
    max-width: 600px;
}

.socialMedia {
    margin: 6em 0 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.socialMedia a {
    width: 20em;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 2em;
    transition: 500ms;
}

.socialMedia p {
    margin: 0;
}

.socialMediaIcon {
    font-size: 1.3em;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2e1edd;
    transition: 300ms ease-in-out;
    z-index: 0;
}

.socialMedia a:hover h3, .socialMedia a:hover p {
    color: #fff;
}

.sociaMedia a:hover {
    padding: 1em;
}

.socialMedia div {
    z-index: 1;
}

.socialMedia a:hover .socialMediaIcon {
    color: #fff;
    z-index: 2;
}

.socialMedia a:hover:before {
    height: 100%;
}

@media screen and (max-width: 600px) {
    .formContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }

    .formContainer h1, .formContainer h3, .formContainer small {
        text-align: center;
    }

    .small {
        text-align: center;
    }

    .socialMedia {
        gap: 1em;
    }
    
    .formHeader p {
        font-size: 1.4em;
    }
    .footer {
        padding: 5em 0 1em 0;
    }
    .footer h1 {
        font-size: 5.7em;
        letter-spacing: 0.02em;
        font-weight: 400;
    }
}
