.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(80vw 80vw at center, #0048ff5a, #ffffff 40%);
    position: relative;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    gap: 2em
}

.landingHeader {
    display: flex;
    align-items: center;
}

.landingHeader h1 {
    font-size: 6em;
    letter-spacing: .02em;
    background: -webkit-linear-gradient(#000000, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.landingHeader h3 {
    font-size: 2.5em;
    letter-spacing: .002em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.landingHeader p {
    font-size: 2em;
    text-align: center;
}

.profilePic {
    width: 300px;
    height: 300px;
    filter: brightness(1.29);
}

.bostonUniversity {
    background: -webkit-linear-gradient(#006eff, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.webDev {
    background: -webkit-linear-gradient(#006eff, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goDown {
    position: absolute;
    bottom: 1em;
    text-align: center;
}

.goDowntext {
    color: #000000;
}

.icon {
    font-size: 2em;
}