.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; 
    padding: 4em;
}

.landingHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.landingHeader h1 {
    font-size: 6em;
    letter-spacing: .02em;
    text-align: center;
}

.landingHeader h3 {
    font-size: 2.5em;
    letter-spacing: .002em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.landingHeader p {
    font-size: 2em;
    text-align: center;
}

.profilePic {
    width: 300px;
    height: 300px;
    filter: brightness(1.29);
}

.bostonUniversity {
    background: -webkit-linear-gradient(#2e1edd, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.webDev {
    background: -webkit-linear-gradient(#2e1edd, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goDown {
    position: absolute;
    bottom: 1em;
    text-align: center;
    opacity: 0;
    transform: translateY(30);
}

.goDowntext {
    color: #000000;
}

.icon {
    font-size: 2em;
}

.introMask {
    overflow: hidden;
    height: 2.5em;
    max-width: 350px;
}

.introContent {
    white-space: nowrap;
    
}

.textMask {
    overflow: hidden;
    width: 396px; /* might need to add media query */
    height: 2.4em; /* might need to add media query */
    position: relative; /* might need to add media query */

}

.textMaskTop {
    overflow: hidden;
    width: 382px; /* might need to add media query */
    height: 2.4em; /* might need to add media query */
    position: relative; /* might need to add media query */
}

.textContent {
    position: absolute;
    white-space: nowrap; /* might need to add media query */
    transform: translateX(-100%); /* might need to add media query */
    color:#2e1edd;
}

.subtitleAnimation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.animationWrapper {
    display: flex;
    flex-direction: row;
}

.maskPrefix {
    height: 50px;
    overflow: hidden;
}

.landingIcons {
    white-space: nowrap;
    position: absolute;
    top: 2em;
    right: 2em;
    opacity: 0;
}
  
.landingIcon {
    font-size: 2.5em;
    color: #000000;
    white-space: nowrap;
    margin-left: 0.5em;
}

.landingIcon:hover {
    opacity: 0.6;
}

.nameBreak {
    display: none
}

@media screen and (max-width: 850px) {
    .landingHeader {
        justify-content: left;
    }

    .subtitleAnimation {
        justify-content: left;
    }

    .landingHeader h1 {
        font-size: clamp(6em, 4vw, 6em);
        white-space: wrap;
        text-align: left;
        font-weight: 200;
    }

    .landingHeader h3 {
        font-size: 1.3em;
    }

    .landingHeader p {
        font-size: 1em;
    }

    .landing {
        padding: 0;
    }

    .introMask {
        height: 1.5em;
        margin-bottom: 2em;
        justify-content: left;
    }

    .textMask {
        width: 200px;
        height: 1.35em;
    }

    .textMaskTop {
        width: 200px;
        height: 1.35em; 
    }

    .maskPrefix {
        height: 1.35em;
    }
    .landingIcon {
        margin-left: 0.5em;
        font-size: 2em;
    }
    .nameBreak {
        display: block;
    }

}   