.navbar {
    background: transparent;
    width: 100%;
    padding: 2em;
    color: black;
    transition: cubic-bezier(1, 0, 0, 1) ease-in-out;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    transition: 0.5s ease-in-out;
    z-index: 70;
}

.icon {
    font-size: 3em;
    color: black;
}

.menu-logo {
    width: 11em;
    display: none;
    height: auto;
}

.navbar-img {
    transition: 0.5s ease-in-out;
    width: 90px;
    height: 90px;
}

.menu-btn {
    cursor: pointer;
    font-size: 1.3em;
    display: none;
    transition: 0.3s;
}

.menu-btn:hover {
    color: #000000;
}

/*when nav is scrolled */

.navbarActive {
    display: none;
    transition: 1s ease-in-out;
}
