.hero {
  padding: 10em;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: clamp(1em, 7vw, 8em);
  letter-spacing: 5px;
  word-spacing: -0.2em;
  font-weight: 400;
  line-height: 1em;
  font-kerning: none;
}

.subTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5em auto 2em;
  font-size: 1.5em;
  max-width: 700px;
  line-height: 34px;
}

.services {
  padding: 2em;
  max-width: 1100px;
  margin: 2em auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services h2 {
  background: -webkit-linear-gradient(#006eff, #1e1e1e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service {
  box-shadow: 0 0 5em rgba(0, 0, 0, .4);
}

.service:nth-child(3) {
  z-index: 1;
  position: relative;
}

.servicesImg {
  width: 100%;
  height: 100%;
  border-radius: 0 0 1em 1em;
}

.service div {
  background-color: #fff;
  color: #000;
  padding: 2em;
  border-radius: 1em 1em 0 0;
  text-align: center;
}

.service div p {
  margin: 0.8em auto 0 auto;
  max-width: 500px;
  font-size: 1.1em;
}

.serviceAnim {
  box-shadow: 0 0 5em rgba(0, 0, 0, .4);
}
    
.serviceAnim div {
  background-color: #fff;
  color: #000;
  padding: 2em;
  border-radius: 1em 1em 0 0;
  text-align: center;
}

.serviceAnim div p {
  margin: 0.8em auto 0 auto;
  max-width: 500px;
  font-size: 1.1em;
}

.footer {
  max-width: 1100px;
  margin: 2em auto 8em auto;
  padding: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer p {
  font-size: 1.2em;
  line-height: 27px;
  max-width: 600px;
}

.footer h2 {
  margin-bottom: 0.5em;
}

.footer a {
  font-size: 1.1em;
  background: -webkit-linear-gradient(#006eff, #1e1e1e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: -webkit-linear-gradient(#006eff, #1e1e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #006eff;
}

@media screen and (max-width: 600px) {
  .sub-title, .footer p {
    font-size: 1.1em;
  }

}