.gradient {
    background: -webkit-linear-gradient(#2e1edd, #1e1e1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills {
    background-color: white;
    color: black;
}

.skills p {
    margin: 1em 0;
    font-size: 1.3em;
    line-height: 34px;
    max-width: 650px;
}

.hero {
    height: 75vh;
    min-height: 10em;
    padding: 5em 2em 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.skillsHeader {
    max-width: 600px;
    text-align: center;
}

.hero h1 {
    letter-spacing: .04em;
    font-size: clamp(3em, 6vw, 6em);
    font-weight: 400;
}

.gallery {
    height: 75vh;
    min-height: 30em;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.galleryImg{
    width: 20vw;
    height: 46vh;
    padding: 0 2em;
}

.about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2.5em;
}

.about h2 {
    font-size: 3em;
}

.arrow {
    font-size: 2.5em;
    text-align: center;
}

.css {
    width: 15.5vw;
    height: 46vh;
    padding: 0 2em;
}

.js {
    width: 24.1vw;
    height: 46vh;
    padding: 0 2em;
}

@media screen and (max-width: 800px) {
    .galleryWrapper {

    }
    .gallery {
        flex-wrap: wrap;
        gap: 1em;
        padding: 2em 4em
    }
    .galleryImg {
       
        padding: 0;
        height: 10vh;
    }
    .css {
      
        padding: 0;
        height: fit-content;
    }
    .js {
     
        padding: 0;
        height: fit-content;
    }
    .hero {
        height: fit-content;
    
    }
}